footer {
    background-color: #00a699;
        color: #fff;
        font-weight: 200px;
        height: 100PX;
        width: 100%;
        bottom: 0;
        justify-content: center;
        position: absolute;
        align-items: center;
        display: flex;
}
